<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metis.meishuquan" >

    <!-- App Required -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <!-- TODO replace above two with next line after Android 4.2 -->
    <!-- <uses-feature android:name="android.hardware.camera.any"/> -->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/StyledIndicators" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.circle.ChatActivity"
            android:configChanges="locale|layoutDirection|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.circle.ChatFriendSelectionActivity"
            android:configChanges="locale|layoutDirection|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.circle.ChatConfigActivity"
            android:configChanges="locale|layoutDirection|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.AdvanceActivity"
            android:label="@string/title_activity_advance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.InfoActivity"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InputActivity"
            android:label="@string/title_activity_input"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".activity.info.MyFavoritesActivity"
            android:label="@string/title_activity_my_favorites"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.MyCourseActivity"
            android:label="@string/title_activity_my_course"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.MyCommentsActivity"
            android:label="@string/title_activity_my_comments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.DepartmentActivity"
            android:label="@string/title_activity_department"
            android:screenOrientation="portrait" />

        <!-- Begin UMeng -->
        <!-- ###################注册SDK使用的Activity###################### -->
        <!--分享编辑页-->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID-->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>

        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="552b2a72fd98c5799c000966" >
        </meta-data>

        <!-- Begin Rong Cloud -->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="8luwapkvuf53l" />

        <service android:name="io.rong.imlib.RongService" />

        <activity
            android:name="io.rong.imkit.RongActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:pathPrefix="/conversationsetting/"
                    android:scheme="rong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:path="/grouplist"
                    android:scheme="rong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:path="/conversationgrouplist"
                    android:scheme="rong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:pathPrefix="/friend/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.rong.imkit.RongSingleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:path="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.rong.imkit.RongSecActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:pathPrefix="/conversation/private"
                    android:scheme="rong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:pathPrefix="/conversation/chatroom"
                    android:scheme="rong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:pathPrefix="/conversation/group"
                    android:scheme="rong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:pathPrefix="/conversation/discussion"
                    android:scheme="rong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:pathPrefix="/conversation/system"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.rong.voipkit.activity.CallSideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.voipkit.activity.CalledSideActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="io.rong.voipkit.calledSideActivity.action" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:path="/calledsideactivity"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <service
            android:name="io.rong.imkit.service.RongIMService"
            android:enabled="true"
            android:exported="false"
            android:priority="1000" />
        <service
            android:name="io.rong.imlib.push.PushService"
            android:process="io.rong.push" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.rong.push" />
            </intent-filter>
        </service>
        <service
            android:name="io.rong.imlib.push.CommandService"
            android:process="io.rong.push" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.rong.command" />
            </intent-filter>
        </service>

        <receiver
            android:name="io.rong.imlib.push.PushReceiver"
            android:process="io.rong.push" >
            <intent-filter>
                <action android:name="io.rong.imlib.action.push.heartbeat" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="io.rong.imlib.push.PushMessageReceiver" >
            <intent-filter>
                <action android:name="io.rong.push.message" />
            </intent-filter>
        </receiver>

        <!-- End Rong Cloud -->

        <activity
            android:name=".activity.info.DepartmentEditActivity"
            android:label="@string/title_activity_department_edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.ConstellationActivity"
            android:label="@string/title_activity_constellation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.NameCardQrActivity"
            android:label="@string/title_activity_qr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.QrScanActivity"
            android:label="@string/title_activity_qr_scan"
            android:screenOrientation="portrait"
            android:theme="@style/QrScanTheme" />
        <activity
            android:name=".activity.topline.NewsInfoActity"
            android:label="@string/title_activity_news_info_actity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.ImagePreviewActivity"
            android:label="@string/title_activity_image_preview" />
        <activity
            android:name=".activity.course.ChooseCourseActivity"
            android:label="@string/title_activity_choose_course"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.course.CourseInfoActivity"
            android:label="@string/title_activity_course_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.TextActivity"
            android:label="@string/title_activity_text"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.assess.AssessInfoActivity"
            android:label="@string/title_activity_assess_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.ChangePwdActivity"
            android:label="@string/title_activity_change_pwd" />
        <activity
            android:name=".activity.info.homepage.StudioActivity"
            android:label="@string/title_activity_studio" />
        <activity
            android:name=".activity.info.homepage.StudioAlbumActivity"
            android:label="@string/title_activity_studio_album" />
        <activity
            android:name=".activity.info.homepage.VideoListActivity"
            android:label="@string/title_activity_video_list" />
        <activity
            android:name=".activity.info.homepage.CourseArrangementActivity"
            android:label="@string/title_activity_course_arrangement" />
        <activity
            android:name=".activity.info.homepage.TeacherTeamActivity"
            android:label="@string/title_activity_teacher_team" />
        <activity
            android:name=".activity.info.homepage.ChargeActivity"
            android:label="@string/title_activity_charge" />
        <activity
            android:name=".activity.info.homepage.BookListActivity"
            android:label="@string/title_activity_book_list" />
        <activity
            android:name=".activity.info.MyFavoriteDetailActivity"
            android:label="@string/title_activity_my_favorite_detail" >
        </activity>
        <activity
            android:name=".activity.act.ActDetailActivity"
            android:label="@string/title_activity_act_detail" >
        </activity>
    </application>

</manifest>
