<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metis.meishuquan"
    android:versionCode="4"
    android:versionName="1.4.8" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <!-- App Required -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 发短信 -->
    <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <!-- umeng推送 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->


    <!-- 【可选】如果需要设置前台是否显示通知，需要设置这个权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <!-- TODO replace above two with next line after Android 4.2 -->
    <!-- <uses-feature android:name="android.hardware.camera.any"/> -->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/StyledIndicators" >

        <!-- 友盟社会化分享 2015-05-31 add by wangjin -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="552b2a72fd98c5799c000966" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="e5e5daffa1f80a426f7096846ce438d4" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="@string/u_meng_channel_id" >
        </meta-data>

        <activity
            android:name=".HelloActivity"
            android:label="@string/title_activity_hello"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuideActivity"
            android:label="@string/title_activity_guide"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.circle.ChatActivity"
            android:configChanges="locale|layoutDirection|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.circle.ChatFriendSelectionActivity"
            android:configChanges="locale|layoutDirection|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.circle.ChatConfigActivity"
            android:configChanges="locale|layoutDirection|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.AdvanceActivity"
            android:label="@string/title_activity_advance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.InfoActivity"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InputActivity"
            android:label="@string/title_activity_input"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".activity.info.MyFavoritesActivity"
            android:label="@string/title_activity_my_favorites"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.MyCourseActivity"
            android:label="@string/title_activity_my_course"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.MyCommentsActivity"
            android:label="@string/title_activity_my_comments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.DepartmentActivity"
            android:label="@string/title_activity_department"
            android:screenOrientation="portrait" />

        <!-- Begin UMeng -->
        <!-- ###################注册SDK使用的Activity###################### -->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="552b2a72fd98c5799c000966" />

        <!-- Begin Rong Cloud -->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="8brlm7ufr4pw3" />

        <service android:name="io.rong.imlib.RongService" />

        <activity
            android:name="io.rong.imkit.RongActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:pathPrefix="/conversationsetting/"
                    android:scheme="rong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:path="/grouplist"
                    android:scheme="rong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:path="/conversationgrouplist"
                    android:scheme="rong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:pathPrefix="/friend/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.rong.imkit.RongSingleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:path="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.rong.imkit.RongSecActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:pathPrefix="/conversation/private"
                    android:scheme="rong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:pathPrefix="/conversation/chatroom"
                    android:scheme="rong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:pathPrefix="/conversation/group"
                    android:scheme="rong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:pathPrefix="/conversation/discussion"
                    android:scheme="rong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:pathPrefix="/conversation/system"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.rong.voipkit.activity.CallSideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.voipkit.activity.CalledSideActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="io.rong.voipkit.calledSideActivity.action" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.metis.meishuquan"
                    android:path="/calledsideactivity"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <service
            android:name="io.rong.imkit.service.RongIMService"
            android:enabled="true"
            android:exported="false"
            android:priority="1000" />
        <service
            android:name="io.rong.imlib.push.PushService"
            android:process="io.rong.push" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.rong.push" />
            </intent-filter>
        </service>
        <service
            android:name="io.rong.imlib.push.CommandService"
            android:process="io.rong.push" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.rong.command" />
            </intent-filter>
        </service>

        <receiver
            android:name="io.rong.imlib.push.PushReceiver"
            android:process="io.rong.push" >
            <intent-filter>
                <action android:name="io.rong.imlib.action.push.heartbeat" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="io.rong.imlib.push.PushMessageReceiver" >
            <intent-filter>
                <action android:name="io.rong.push.message" />
            </intent-filter>
        </receiver>

        <!-- End Rong Cloud -->

        <activity
            android:name=".activity.info.DepartmentEditActivity"
            android:label="@string/title_activity_department_edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.ConstellationActivity"
            android:label="@string/title_activity_constellation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.NameCardQrActivity"
            android:label="@string/title_activity_qr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.QrScanActivity"
            android:label="@string/title_activity_qr_scan"
            android:screenOrientation="portrait"
            android:theme="@style/QrScanTheme" />
        <activity
            android:name=".activity.topline.NewsInfoActity"
            android:label="@string/title_activity_news_info_actity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.ImagePreviewActivity"
            android:label="@string/title_activity_image_preview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.course.ChooseCourseActivity"
            android:label="@string/title_activity_choose_course"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.course.CourseInfoActivity"
            android:label="@string/title_activity_course_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.TextActivity"
            android:label="@string/title_activity_text"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.assess.AssessInfoActivity"
            android:label="@string/title_activity_assess_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.ChangePwdActivity"
            android:label="@string/title_activity_change_pwd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.homepage.StudioActivity"
            android:label="@string/title_activity_studio"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.metis.meishuquan.action.user"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.info.homepage.StudioAlbumActivity"
            android:label="@string/title_activity_studio_album"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.homepage.VideoListActivity"
            android:label="@string/title_activity_video_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.homepage.CourseArrangementActivity"
            android:label="@string/title_activity_course_arrangement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.homepage.TeacherTeamActivity"
            android:label="@string/title_activity_teacher_team"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.homepage.ChargeActivity"
            android:label="@string/title_activity_charge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.homepage.BookListActivity"
            android:label="@string/title_activity_book_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.MyFavoriteDetailActivity"
            android:label="@string/title_activity_my_favorite_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.act.ActDetailActivity"
            android:label="@string/title_activity_act_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.assess.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.assess.TestPicActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.info.homepage.HumanActivity"
            android:label="@string/title_activity_human"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.homepage.StudioDetailActivity"
            android:label="@string/title_activity_studio_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.act.SelectStudioActivity"
            android:label="@string/title_activity_select_studio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.homepage.AchievementDetailActivity"
            android:label="@string/title_activity_achievement_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebActivity"
            android:label="@string/title_activity_web"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.circle.ReplyActivity"
            android:label="@string/title_activity_reply"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.homepage.ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.circle.SearchUserInfoActivity"
            android:label="@string/title_activity_simple_user_info_for_qr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.circle.RequestMessageActivity"
            android:label="@string/title_activity_request_message"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.circle.SearchUserActivity"
            android:label="@string/title_activity_search_user"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.FriendsChooseActivity"
            android:label="@string/title_activity_friends_choose"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.act.StudentListActivity"
            android:label="@string/title_activity_student_list"
            android:screenOrientation="portrait" />

        <!-- umeng推送 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false"
            android:process=":push" >
        </receiver>
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.metis.meishuquan.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push" >
            <intent-filter>
                <action android:name="com.metis.meishuquan.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.metis.meishuquan.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />
        <service android:name=".push.MainPushService" />
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>
        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />

        <activity
            android:name=".activity.topline.NewDetailActivity"
            android:label="@string/title_activity_new_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.info.InviteActivity"
            android:label="@string/title_activity_invite" >
        </activity>
        <activity
            android:name=".activity.info.FocusActivity"
            android:label="@string/title_activity_focus" >
        </activity>
        <activity
            android:name=".activity.circle.ChatRoomListActivity"
            android:label="@string/title_activity_chat_room_list" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity android:name="com.jit.video.VideoActivity" />
        <activity
            android:name=".activity.TestActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".activity.circle.MomentDetailActivity"
            android:label="@string/title_activity_moment_detail" >
        </activity>
    </application>

</manifest>
